body {
    padding-top: 5rem;
}

footer {
    padding-top: 20px;
}

.news__list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 3%;
    overflow: hidden;
}

.news__list img {
    border-right: 5px;
    border-left: 10px;
    width: 100%;
    height: 30%;
}

.news__list li {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 3.5px 3.5px 5px 1px #d3d3d3;
    padding: 4%;
    border-top: 6px solid #51bc94;
}